*{
    margin: 0px;
    padding: 0px;
    background-color: lightslategray;
}
body form{
    background-color: lightsalmon;
    align-items: center;
    text-align: left;
    padding-left: 30px;
}
body form input{
    background-color: blueviolet;
    font-size: 20px;
}