*{
    margin: 0;
    padding: 0;
}
body{
    margin: 2em;
    padding: 2em;
    background-color: #2f2f2f;
    color: white;
}
.titulo{
    background-color: rgb(24, 24, 24);
    font-size: 12pt;
    width: 98%;
    height: 50px;
    padding-top: 2%;
    align-items: center;
    text-align: center;
    border-radius: 5%;
}
form{
    padding-top: 20px;
    align-items: right;
    text-align: right;
    padding-left: 30px;
}